/JavaApplication5/nbproject/private/
/JavaApplication6/nbproject/private/
/AccesoDNIE/nbproject/private/
/AccesoDNIE/build/
/AccesoDNIE/dist/
/ChatIRC/nbproject/private/
/ChatIRC/build/
/ClienteIRC/nbproject/private/
/ClienteIRC/build/
/JavaApplication10/nbproject/private/